<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siva Sankula</title>
    <link rel="stylesheet" href="./css/app.css" />
</head>
<body>
    <h1>Im from Index-- {{title}}</h1>
    {{>header}}

    <div>
        <form id="form_location">
            <input id="location" />
            <button>Search</button>
        </form>
    </div>

    <div id="root">
        
    </div>

<div>secons</div>
    <div id="root2">

    </div>


    <script src="./js/app.js"></script>
</body>
</html>